.link {
  color: red;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.NavItem {
  padding: 15px;
  list-style: none;
  display: flex;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
